{{ partial "header.html" . }}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('https://res.cloudinary.com/taubin/image/upload/c_fill,g_auto/w_auto,q_auto,f_auto/blog-main/home-bg.jpg')">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <h1>{{ .Title }}</h1>
             <hr class="small">
             <span class="subheading">{{ .Description }}</span>
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ range .Paginator.Pages }}
              {{ .Render "archive" }}
          {{ end }}
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}
